.navbar-inverse .navbar-brand{
  font-family: $decorative;
  color: $brand-primary;
  font-size: 3rem;
}
.navbar-toggler-right{
  top: 1.66rem;
}
.nav-item {
  font-size: 1.2rem;
  margin-left: 2em;
  text-transform: uppercase;
  text-align: right;
}
